@import 'tailwindcss/utilities';

@layer utilities {
  .indicator-container {
    display: inline-flex;
    align-items: center;

    color: $black-800;

    @apply font-medium;

    .indicator {
      display: flex;

      width: 10px;
      height: 10px;
      margin-right: 6px;

      border-radius: 50%;
    }
  }
}