$sizes: (
  '0': 0px,
  '1': 2px,
  '2': 4px,
  '3': 8px,
  '4': 16px,
  '5': 24px,
  '6': 32px,
  '7': 40px,
  '8': 48px,
  '9': 56px,
  'A': 120px,
);

$space-types: (
  m: margin,
  mt: margin-top,
  mb: margin-bottom,
  ml: margin-left,
  mr: margin-right,
  p: padding,
  pt: padding-top,
  pb: padding-bottom,
  pl: padding-left,
  pr: padding-right,
);

@each $classType, $type in $space-types {
  @each $classSize, $size in $sizes {
    .#{$classType}-#{$classSize} {
      #{$type}: #{$size} !important;
    }
  }
}

$space-types-special: (
  m: margin,
  p: padding,
);

@each $classType, $type in $space-types-special {
  @each $classSize, $size in $sizes {
    .#{$classType}y-#{$classSize} {
      #{$type}-top: #{$size} !important;
      #{$type}-bottom: #{$size} !important;
    }
    .#{$classType}x-#{$classSize} {
      #{$type}-left: #{$size} !important;
      #{$type}-right: #{$size} !important;
    }
  }
}