h1 {
  font-size: 48px;
  line-height: 56px;
}

h2 {
  font-size: 36px;
  line-height: 44px;
}

h3 {
  font-size: 28px;
  line-height: 36px;
}

h4 {
  font-size: 24px;
  line-height: 32px;
}

.subtitle-1 {
  font-size: 20px;
  line-height: 28px;
}

.subtitle-2 {
  font-size: 18px;
  line-height: 26px;
}

.subtitle-3 {
  font-size: 16px;
  line-height: 24px;
}

.subtitle-4 {
  font-size: 14px;
  line-height: 22px;
}

.body-1 {
  font-size: 16px;
  line-height: 24px;
}

.body-2 {
  font-size: 14px;
  line-height: 22px;
}

.body-3 {
  font-size: 12px;
  line-height: 20px;
}

label, .label {
  font-size: 14px;
  line-height: 20px;
}

.metadata {
  font-size: 12px;
  line-height: 16px;
}

.button {
  font-size: 16px;
  line-height: 20px;
}


h1,
h2,
h3,
h4,
h5,
label,
small,
p,
.subtitle-1,
.subtitle-2,
.subtitle-3,
.subtitle-4
.body-1,
.body-2,
.body-3,
.label,
.metadata,
.button {
  @apply font-regular;
  
  &.medium {
    @apply font-medium;
  }

  &.bold {
    @apply font-bold; 
  }

  &.extra-bold {
    @apply font-extra-bold;
  }
}
